@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-button:hover {
  color: white;
  background-color: rgb(29 78 216) !important;
}

#to-lupa-password:hover .red-button:hover {
  color: white !important;
  background-color: rgb(200 30 30) !important;
}

.scrollable-column {
  max-height: 112vh;
  overflow-y: auto;
}

/* * {
  outline: 1px solid tomato;
} */
