@tailwind base;
@tailwind components;
@tailwind utilities;

#to-daftar-baru:hover,
#account-info-button:hover {
  color: white;
  background-color: rgb(26 86 219) !important;
}

#to-lupa-password:hover {
  color: white;
  background-color: rgb(200 30 30) !important;
}

/* * {
  outline: 1px solid tomato;
} */
