@tailwind base;
@tailwind components;
@tailwind utilities;

#to-daftar-baru:hover,
#account-info-button:hover,
#change-username-button:hover,
#change-email-button:hover,
#change-phone-button:hover,
#change-password-button:hover {
  color: white;
  background-color: rgb(29 78 216) !important;
}

#to-lupa-password:hover {
  color: white;
  background-color: rgb(200 30 30) !important;
}

/* * {
  outline: 1px solid tomato;
} */
